In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import lux

In [2]:
def basic_visualization(dataset):
    pass

In [3]:
def BloodGroupTypes(data):
    data.loc[(data['Blood Group'] == 'A+')|(data['Blood Group'] == 'A'),'Blood Group']='A+ve'
    data.loc[(data['Blood Group'] == 'B+')|(data['Blood Group'] == 'B'),'Blood Group']='B+ve'
    data.loc[(data['Blood Group'] == 'O+')|(data['Blood Group'] == 'O'),'Blood Group']='O+ve'
    data.loc[(data['Blood Group'] == 'AB+')|(data['Blood Group'] == 'AB'),'Blood Group']='AB+ve'
    data.loc[(data['Blood Group'] == 'A-'),'Blood Group']='A-ve'
    data.loc[(data['Blood Group'] == 'B-'),'Blood Group']='B-ve'
    data.loc[(data['Blood Group'] == 'O-'),'Blood Group']='O-ve'
    data.loc[(data['Blood Group'] == 'AB-'),'Blood Group']='AB-ve'
    return data

In [4]:
def data_cleaning(dataset):
    print("Initial size of dataset {}".format(dataset.shape))
    err= dataset[ data['Blood Group'] == '#REF!' ].index
    dataset.drop(err, inplace=True)
    print("Dataset Size after removing err records {}".format(dataset.shape))
    errVAl= data[ data['Age in yrs'] == '#VALUE!' ].index
    dataset.drop(errVAl, inplace=True)
    errVAl= data[ data['BMI']== '#VALUE!' ].index
    dataset.drop(errVAl, inplace=True)
    print("Dataset Size after removing err value records {}".format(dataset.shape))    
    invalid_r= dataset[(dataset['Blood Group'].isnull()) & (dataset['Sex'].isnull())& (dataset['Height'].isnull())&(dataset['Weight'].isnull())& (dataset['BMI'].isnull())].index
    dataset.drop(invalid_r, inplace=True)
    print("Dataset Size after removing invalid records {}".format(dataset.shape))

In [5]:
def data_conversion(dataset):
    dataset=BloodGroupTypes(dataset)
    print("Blood Group Types available {}".format(data['Blood Group'].unique()))
    data['Age in yrs'] = data['Age in yrs'].apply(pd.to_numeric)
    data['Weight'] = data['Weight'].str.rstrip('kg').apply(pd.to_numeric)
    data['Height'] = data['Height'].str.rstrip('cm').apply(pd.to_numeric)
    data['Temperature'] = data['Temperature'].str.rstrip('F').apply(pd.to_numeric)
    data['Pulse'] = data['Pulse'].str.rstrip('per Min').apply(pd.to_numeric)
    data['BP'] = data['BP'].str.rstrip('mmHg')
    data['BMI'] = data['BMI'].apply(pd.to_numeric)

In [6]:
def BP_manipulation(data):
    data.loc[(data['BP'].isnull()) & (data['Weight'].between(20,42,inclusive=True))& (data['Age in yrs'] == 10),'BP']='96/117'
    data.loc[(data['BP'].isnull()) & (data['Weight'].between(20,42,inclusive=True))& (data['Age in yrs'] == 11),'BP']='98/119'
    data.loc[(data['BP'].isnull()) & (data['Weight'].between(20,42,inclusive=True))& (data['Age in yrs'] == 12),'BP']='100/121'
    data.loc[(data['BP'].isnull()) & (data['Weight']>=50) & (data['Age in yrs'] >= 13),'BP']='102/124'

In [7]:
def column_gen(data):
    new=data['BP'].str.split('/',n=1,expand=True)
    data['systolic']=new[0]
    data['diastolic']=new[1]
    new=data['Left_Eye_Power'].str.split('/',n=1,expand=True)
    data['LEP0']=new[0]
    data['LEP1']=new[1]
    new=data['Right_Eye_Power'].str.split('/',n=1,expand=True)
    data['REP0']=new[0]
    data['REP1']=new[1]
    new=data['Left_Eye_Pwr_WthGlass'].str.split('/',n=1,expand=True)
    data['LEPG0']=new[0]
    data['LEPG1']=new[1]
    new=data['Right_Eye_Pwr_WthGlass'].str.split('/',n=1,expand=True)
    data['REPG0']=new[0]
    data['REPG1']=new[1]

In [8]:
data=pd.read_csv('data.csv')

In [9]:
data_cleaning(data)
data_conversion(data)

Initial size of dataset (2803, 34)
Dataset Size after removing err records (2801, 34)
Dataset Size after removing err value records (2704, 34)
Dataset Size after removing invalid records (1316, 34)
Blood Group Types available ['A+ve' 'O+ve' 'B+ve' 'AB+ve' 'O-ve' 'B-ve' nan 'A-ve' 'AB-ve']

In [10]:
column_gen(data)

In [11]:
errVAl= data[ data['BMI'] == '#VALUE!' ].index

In [12]:
data.head(400)

,UHID,Sex,Age in yrs,Blood Group,Class,School ID,Height,Weight,BMI,Temperature,...,systolic,diastolic,LEP0,LEP1,REP0,REP1,LEPG0,LEPG1,REPG0,REPG1
0,100-0000-0001,Male,13,A+ve,8,S0000001,152.2,57.2,24.7,96.4,...,104,75,6,6,6,36,6,6,6,12
1,100-0000-0002,Male,14,O+ve,8,S0000001,160.7,36.9,14.3,97.5,...,150,69,6,6,6,6,NaN,NaN,NaN,NaN
2,100-0000-0003,Female,13,O+ve,8,S0000001,143.7,37.2,18.0,97.7,...,113,67,6,6,6,6,NaN,NaN,NaN,NaN
3,100-0000-0004,Female,13,B+ve,8,S0000001,157.3,45.4,18.3,97.8,...,114,78,6,6,6,6,NaN,NaN,NaN,NaN
4,100-0000-0005,Male,14,B+ve,8,S0000001,154.2,40.1,16.9,9.3,...,95,56,6,6,6,6,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,100-0000-0497,Female,13,O+ve,8,S0000003,152.7,35.5,15.2,98.5,...,111,85,6,12,6,12,6,6,6,6
422,100-0000-0498,Male,13,B+ve,8,S0000003,164.7,62.1,22.9,97.5,...,119,71,6,24,6,24,6,6,6,6
423,100-0000-0499,Female,13,O+ve,8,S0000003,154.5,39.0,16.3,99.3,...,113,74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424,100-0000-0500,Female,14,A+ve,8,S0000003,154.5,44.6,18.7,98.5,...,147,91,6,6,6,6,NaN,NaN,NaN,NaN
425,100-0000-0501,Female,13,B+ve,8,S0000003,142.3,42.5,21.0,97.3,...,107,77,6,36,6,36,NaN,NaN,NaN,NaN

In [13]:
#data1 = pd.read_excel("HKinterns_shared_data.xlsx",engine='openpyxl',)

In [14]:
data.columns

Index(['UHID', 'Sex', 'Age in yrs', 'Blood Group', 'Class', ' School ID',
       'Height', 'Weight', 'BMI', 'Temperature', 'BP', 'Pulse', 'CBTestResult',
       'Caries', 'Discoloration', 'Healthy_Gums', 'Malocclusion',
       'Oral_Hygine', 'TeethWellFormed', 'Serious_Dental_Issue',
       'Dentist_Recommendation', 'LEFT_EAR', 'RIGHT_EAR', 'ENT_Issue',
       'Eye_Issue', 'ENT_Issue_Detail', 'Eye_Issue_Detail', 'Wears_Glass',
       'Left_Eye_Power', 'Right_Eye_Power', 'Left_Eye_Pwr_WthGlass',
       'Right_Eye_Pwr_WthGlass', 'Overall Summary', 'Recommendation',
       'systolic', 'diastolic', 'LEP0', 'LEP1', 'REP0', 'REP1', 'LEPG0',
       'LEPG1', 'REPG0', 'REPG1'],
      dtype='object')

In [15]:
data.head()

,UHID,Sex,Age in yrs,Blood Group,Class,School ID,Height,Weight,BMI,Temperature,...,systolic,diastolic,LEP0,LEP1,REP0,REP1,LEPG0,LEPG1,REPG0,REPG1
0,100-0000-0001,Male,13,A+ve,8,S0000001,152.2,57.2,24.7,96.4,...,104,75,6,6,6,36,6,6,6,12
1,100-0000-0002,Male,14,O+ve,8,S0000001,160.7,36.9,14.3,97.5,...,150,69,6,6,6,6,NaN,NaN,NaN,NaN
2,100-0000-0003,Female,13,O+ve,8,S0000001,143.7,37.2,18.0,97.7,...,113,67,6,6,6,6,NaN,NaN,NaN,NaN
3,100-0000-0004,Female,13,B+ve,8,S0000001,157.3,45.4,18.3,97.8,...,114,78,6,6,6,6,NaN,NaN,NaN,NaN
4,100-0000-0005,Male,14,B+ve,8,S0000001,154.2,40.1,16.9,9.3,...,95,56,6,6,6,6,NaN,NaN,NaN,NaN

In [16]:
data.corr(method ='spearman')

             Age in yrs    Height    Weight       BMI  Temperature     Pulse
Age in yrs     1.000000  0.939495  0.880381  0.533468    -0.237794 -0.214955
Height         0.939495  1.000000  0.932793  0.583786    -0.251815 -0.176448
Weight         0.880381  0.932793  1.000000  0.813248    -0.306335 -0.048817
BMI            0.533468  0.583786  0.813248  1.000000    -0.360938  0.047238
Temperature   -0.237794 -0.251815 -0.306335 -0.360938     1.000000  0.125926
Pulse         -0.214955 -0.176448 -0.048817  0.047238     0.125926  1.000000

In [17]:
bmi_correl = data[['Height','Weight','BMI']].corr(method='pearson')
bmi_correl

          Height    Weight       BMI
Height  1.000000  0.632792  0.290891
Weight  0.632792  1.000000  0.915726
BMI     0.290891  0.915726  1.000000

In [18]:
data['BP'].unique()

array(['104/75  ', '150/69  ', '113/67  ', '114/78  ', '95/56  ',
       '124/72  ', '118/78  ', '111/69  ', '104/84  ', '125/78  ',
       '106/68  ', '106/62  ', '92/65  ', '128/75  ', '103/59  ',
       '109/68  ', '139/63  ', '119/64  ', '110/68  ', '127/80  ',
       '103/77  ', '106/70  ', '111/96  ', '128/80  ', '109/75  ',
       '124/81  ', '118/68  ', '137/90  ', '143/89  ', '114/68  ',
       '134/78  ', '101/60  ', '134/79  ', '120/80  ', '115/71  ',
       '121/78  ', '120/73  ', '115/75  ', '115/69  ', '102/81  ',
       '122/76  ', '107/73  ', '98/61  ', '93/80  ', '109/76  ',
       '120/78  ', '125/76  ', '119/82  ', '121/63  ', '130/73  ',
       '114/79  ', '126/84  ', '115/72  ', '120/50  ', '91/55  ',
       '119/87  ', '113/74  ', '86/58  ', '111/71  ', '107/68  ',
       '100/65  ', '128/73  ', '87/61  ', '97/65  ', '94/68  ',
       '120/85  ', '139/87  ', '126/81  ', '125/82  ', '115/82  ',
       '121/80  ', '109/67  ', '108/73  ', '121/74  ', '91/61  ',
       '108/66  ', '117/69  ', '137/80  ', '109/78  ', '145/88  ',
       '82/57  ', '110/86  ', '118/72  ', '116/76  ', '91/64  ',
       '112/69  ', '94/58  ', '108/65  ', '105/79  ', '123/81  ',
       '134/80  ', '118/79  ', '88/55  ', '108/77  ', '121/86  ',
       '90/65  ', '182/98  ', '105/75  ', '120/82  ', '127/71  ',
       '129/109  ', '113/77  ', '104/68  ', '90/67  ', nan, '120/67  ',
       '96/66  ', '90/66  ', '114/66  ', '119/71  ', '139/92  ',
       '116/9*  ', '98/58  ', '113/76  ', '104/81  ', '97/75  ',
       '107/62  ', '107/63  ', '100/66  ', '86/60  ', '118/73  ',
       '95/59  ', '106/64  ', '91/63  ', '113/79  ', '108/78  ',
       '99/68  ', '93/63  ', '99/71  ', '102/62  ', '109/69  ', '93/59  ',
       '97/69  ', '106/75  ', '104/63  ', '97/72  ', '88/54  ',
       '100/56  ', '95/64  ', '83/60  ', '100/63  ', '110/67  ',
       '103/65  ', '107/84  ', '98/67  ', '94/67  ', '94/61  ',
       '106/69  ', '88/59  ', '114/76  ', '117/58  ', '96/58  ',
       '93/53  ', '93/65  ', '114  ', '101/67  ', '92/60  ', '122/73  ',
       '101/73  ', '120/70  ', '118/75  ', '117/85  ', '109/71  ',
       '98/71  ', '122/82  ', '96/71  ', '104/79  ', '93/67  ',
       '102/65  ', '104/60  ', '103/62  ', '126/71  ', '116/67  ',
       '112/80  ', '96/73  ', '86/66  ', '119/85  ', '117/62  ',
       '76/55  ', '89/66  ', '94/62  ', '127/84  ', '112/66  ',
       '102/84  ', '139/71  ', '114/77  ', '95/67  ', '105/81  ',
       '126/76  ', '101/69  ', '96/63  ', '106/60  ', '113/63  ',
       '102/67  ', '88/70  ', '121/65  ', '122/78  ', '90/62  ',
       '99/61  ', '101/70  ', '91/60  ', '102/71  ', '111/68  ',
       '89/64  ', '108/71  ', '111/79  ', '97/64  ', '103/74  ',
       '97/74  ', '106/77  ', '95/66  ', '106/67  ', '110/72  ',
       '98/72  ', '136/86  ', '117/75  ', '109/79  ', '110/73  ',
       '103/67  ', '101/78  ', '97/66  ', '94/64  ', '95/72  ',
       '111/65  ', '102/66  ', '90/58  ', '89/70  ', '85/64  ', '95/60  ',
       '115/66  ', '133/73  ', '116/83  ', '102/64  ', '100/73  ',
       '121/71  ', '137/79  ', '88/61  ', '103/75  ', '103/71  ',
       '91/69  ', '114/64  ', '101/61  ', '113/83  ', '104/65  ',
       '116/85  ', '111/72  ', '124/67  ', '115/58  ', '111/64  ',
       '121/72  ', '98/63  ', '121/81  ', '122/70  ', '104/74  ',
       '104/64  ', '99/58  ', '120/56  ', '93  ', '130/69  ', '111/77  ',
       '111/85  ', '147/91  ', '107/77  ', '114/71  ', '101/80  ',
       '96/70  ', '101/79  ', '94/75  ', '111/66  ', '95/77  ', '89/71  ',
       '112/83  ', '99/73  ', '103/69  ', '102/73  ', '93/58  ',
       '96/68  ', '107/66  ', '99/70  ', '108/95  ', '105/71  ',
       '115/86  ', '96/72  ', '87/66  ', '84/62  ', '113/80  ', '92/76  ',
       '116/62  ', '117/72  ', '108/68  ', '97/71  ', '97/78  ',
       '105/65  ', '120/72  ', '130/71  ', '100/69  ', '124/66  ',
       '127/88  ', '125/98  ', '126/86  ', '107/87  ', '128/88  ',
       '104/72  ', '114/61  ', '112/72  ', '110/65  ', '71  ', '131/84  ',
       '108/64  ', '120/68  ', '139/88  ', '120/66  ', '115/80  ',
       '127/86  ', '133/74  ', '98/64  ', '131/88  ', '108/56  ',
       '125/79  ', '117/74  ', '131/71  ', '106/65  ', '110/69  ',
       '118/74  ', '126/79  ', '111/75  ', '94/66  ', '104/51  ',
       '108/81  ', '117/76  ', '136/80  ', '139/77  ', '124/80  ',
       '131/73  ', '108/75  ', '122/79  ', '118/93  ', '113/64  ',
       '110/76  ', '136/84  ', '134/67  ', '148/99  ', '112/74  ',
       '116/65  ', '103/79  ', '98/76  ', '126/73  ', '110/90  ',
       '107/52  ', '102/69  ', '94/54  ', '112/92  ', '129/83  ',
       '106/92  ', '107/78  ', '124/75  ', '124/74  ', '107/60  ',
       '101/62  ', '99/80  ', '112/86  ', '95/70  ', '115/93  ',
       '115/98  ', '110/89  ', '109/73  ', '109/96  ', '117/84  ',
       '132/85  ', '146/97  ', '116/84  ', '99/65  ', '124/84  ',
       '98/69  ', '126/77  ', '104/66  ', '106/71  ', '106/76  ',
       '101/63  ', '135/81  ', '123/73  ', '106/72  ', '129/79  ',
       '116/81  ', '109/64  ', '115/49  ', '110/77  ', '112/91  ',
       '110/70  ', '94/72  ', '115/77  ', '115/90  ', '89/60  ',
       '116/94  ', '101/76  ', '103/61  ', '107/74  ', '83/58  ',
       '112/73  ', '106/78  ', '93/66  ', '93/56  ', '130/92  ',
       '103/72  ', '119/78  ', '110/75  ', '107/75  ', '104/67  ',
       '109/74  ', '122/81  ', '113/86  ', '117/82  ', '123/91  ',
       '112/75  ', '128/83  ', '100/74  ', '140/80  ', '134/87  ',
       '111/76  ', '114/80  ', '135/92  ', '115/76  ', '112/78  ',
       '132/87  ', '126/75  ', '99/67  ', '124/70  ', '108/82  ',
       '116/80  ', '112/71  ', '106/79  ', '92/54  ', '133/80  ',
       '128/110  ', '148/104  ', '109/65  ', '161/96  ', '120/76  ',
       '125/80  ', '168/84  ', '176/93  ', '105/73  ', '129/82  ',
       '132/86  ', '131/99  ', '145/86  ', '119/76  ', '97/60  ',
       '107/69  ', '120/77  ', '155/93  '], dtype=object)

In [19]:
data

,UHID,Sex,Age in yrs,Blood Group,Class,School ID,Height,Weight,BMI,Temperature,...,systolic,diastolic,LEP0,LEP1,REP0,REP1,LEPG0,LEPG1,REPG0,REPG1
0,100-0000-0001,Male,13,A+ve,8,S0000001,152.2,57.2,24.7,96.4,...,104,75,6,6,6,36,6,6,6,12
1,100-0000-0002,Male,14,O+ve,8,S0000001,160.7,36.9,14.3,97.5,...,150,69,6,6,6,6,NaN,NaN,NaN,NaN
2,100-0000-0003,Female,13,O+ve,8,S0000001,143.7,37.2,18.0,97.7,...,113,67,6,6,6,6,NaN,NaN,NaN,NaN
3,100-0000-0004,Female,13,B+ve,8,S0000001,157.3,45.4,18.3,97.8,...,114,78,6,6,6,6,NaN,NaN,NaN,NaN
4,100-0000-0005,Male,14,B+ve,8,S0000001,154.2,40.1,16.9,9.3,...,95,56,6,6,6,6,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1405,100-0000-1501,Male,28,NaN,Teacher,S0000001,170.5,82.3,28.3,96.6,...,120,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1406,100-0000-1502,Male,49,NaN,Teacher,S0000001,170.0,77.0,26.6,98.6,...,155,93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1407,100-0000-1503,Male,26,B+ve,Teacher,S0000001,150.5,35.2,15.5,98.2,...,88,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1408,100-0000-1504,Female,39,NaN,Teacher,S0000001,153.5,98.5,41.8,98.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1409,100-0000-1505,Female,11,NaN,5,S0000003,135.5,34.3,18.7,98.7,...,NaN,NaN,6,6,6,6,NaN,NaN,NaN,NaN

*convert xlsx into csv
*remove rows with blood group '#REF!'
*adjusting blood group types
*remove rows with all nan values(except age column)